* {
  box-sizing: border-box;

}
html,
body {
  height: auto;
  background-color: rgb(255, 255, 255);
}
body {
  background-color: #ffffff;
  font-family: monospace;
header {
  display: flex;
  justify-content: center;
  text-shadow: red -2px 0, cyan 2px 0;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#formulario {
  display: flex;
  flex: center;
  margin: 0 auto;
  min-width: 240px;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #d8d8d8;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  color: black;
}

input, select, button {
  width : 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inicio-container {

  display: flex;
  flex: center;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  border: 2px solid #d8d8d8;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 20px;
  min-width: 80%;
  max-width: 50%;
}
p
{
  min-width: px;
  font-size: 20px;
  color:black;
}
#mostrarMonto {
  
  display: flex;
  justify-content: center;
}
#tabla {
  
  display: flex;
  justify-content: center;
  display: flex;
  flex: center;
  margin: 0 auto;
  min-width: 240px;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #d8d8d8;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  color: black;
}
tr td {
  width: 200px;
}

footer{
  text-align: center;
}
